.cd-primary-nav li a {
    color:$dark-blue;
    font-family: $header-font;
}

.cd-primary-nav li a:hover {
    color:$dark-pink;
    font-family: $header-font;
}

.other-links a {
    color: $dark-blue;
    font-family: serif;
    text-decoration: underline;
}

.other-links a:hover {
    color: $dark-pink;
    font-family: serif;
    text-decoration: underline;
}