$main-dark: #5D6661;
$light-dark: #676b69;
$dark-dark: #171E1A;
$main-light-green: #C1D39C; 
$light-light-green: #cfd3c6;
$dark-light-green:#b2d370;
$main-pink: #eda6a6; 
$light-pink: #EDC2C2;
$dark-pink: #e88d8d;
$main-dark-green: #8BA33F; 
$light-dark-green: #7baa4c;
$dark-dark-green: #5C7A3E; 
$main-blue: #5a95e2;
$light-blue: #80afed;
$dark-blue: #2B77DB;

$color-1: #8BA33F;
$color-2: #5a95e2; 
$color-3: #eda6a6; 
$color-4: #5D6661; 
$color-5: #C1D39C; 

// additional colors

$success: #6fce72; // green
$alert: $color-3;  // re